:root {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
